.product{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.product button{
    padding: 10px;
    border: none;
    background: rgb(50, 50, 212);
    color:  white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
}

h2{
    text-align: center;
}

.products{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cart{
    width: 400px;
    margin: auto;
    border: 2px solid #ccc;
    margin-top: 100px;
    padding: 10px;
}